<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>
<body>
  <!-- Compiled and minified JavaScript -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
  <nav>
   <div class="container">
    <div class="nav-wrapper">
      <a class="brand-logo" href="{% url 'reviews:review_list' %}">Jazz Albums</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="{% url 'reviews:album_list' %}">Album List</a></li>
        <li><a href="{% url 'reviews:review_list' %}">Home</a></li>
        {% if user.is_authenticated %}
        <li><a href="{% url 'reviews:user_review_list' user.username %}">Hello {{ user.username }}</a></li>
        <li><a href="{% url 'auth:logout' %}">Logout</a></li>
        {% else %}
        <li><a href="{% url 'auth:login' %}">Login</a></li>
        {% endif %}
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="{% url 'reviews:album_list' %}">Album List</a></li>
        <li><a href="{% url 'reviews:review_list' %}">Home</a></li>
        {% if user.is_authenticated %}
        <li><a href="{% url 'reviews:user_review_list' user.username %}">Hello {{ user.username }}</a></li>
        <li><a href="{% url 'auth:logout' %}">Logout</a></li>
        {% else %}
        <li><a href="{% url 'auth:login' %}">Login</a></li>
        {% endif %}
      </ul>
    </div>
   </div>
  </nav>
  <div class="container">
    <h1>{% block title %}(no title){% endblock %}</h1>
    {% block content %}(no content){% endblock %}
    <script>
        $(".button-collapse").sideNav();
        $('select').material_select();
    </script>
  </div>
</body>
